<template>
  <div class="">
    <el-card>
      <h5>1.目标式神</h5>
      <p>{{ calcObj.shishen.join(' - ') || '未指定' }}</p>
      <h5>2.位置指定</h5>
      <p>2号位：{{ calcObj.l2_prop_limit.join(' / ') }}</p>
      <p>4号位：{{ calcObj.l4_prop_limit.join(' / ') }}</p>
      <p>6号位：{{ calcObj.l6_prop_limit.join(' / ') }}</p>
      <h5>3.御魂套装</h5>
      <div class="combo" v-show="calcObj.mode == '4+2'">
        <el-tag size="small" class="tag">{{ calcObj.plan['4'] || '未指定' }} × 4</el-tag>
        <el-tag size="small" class="tag">{{ calcObj.plan['2'] || '未指定' }} × 2</el-tag>
      </div>
      <div class="combo" v-show="calcObj.mode == '2+2+2'">
        <el-tag size="small" class="tag">{{ calcObj.plan.a || '未指定' }} × 2</el-tag>
        <el-tag size="small" class="tag">{{ calcObj.plan.b || '未指定' }} × 2</el-tag>
        <el-tag size="small" class="tag">{{ calcObj.plan.c || '未指定' }} × 2</el-tag>
      </div>
      <h5>4.计算指标</h5>
      <p>{{ calcObj.optimize_pane }}</p>
      <h5>5.面板限制</h5>
      <p v-for="(value, key) in calcObj.limit_props" :key="key">
        {{ key }}
        {{ value.min }} ~ {{ value.max }}
      </p>
      <el-button type="primary" v-pfc="calc" size="mini">开始计算</el-button>
    </el-card>
  </div>
</template>

<script>
import axios from 'axios';

import { mapState } from 'vuex';
import pfc from '@/directives/vue-pfc';

export default {
  directives: {
    pfc,
  },
  computed: {
    ...mapState(['calcObj', 'yyx']),
  },
  watch: {
    calcObj: {
      deep: true,
      immediate: true,
      handler() {
        console.log('calcObj :>> ', this.calcObj);
      },
    },
  },
  methods: {
    async calc() {
      try {
        let data = await axios.post('http://127.0.0.1:5000/calc', {
          ...this.calcObj,
          yuhun_list: this.yyx?.data?.hero_equips || [],
        });
        console.log(data);
      } catch (e) {
        console.log(e.message);
      }
    },
  },
};
</script>

<style lang="less" scoped>
.tag {
  margin-right: 10px;
}

p {
  font-size: 14px;
  margin: 0 auto;
  letter-spacing: 1.2px;
}
</style>
