<template>
  <div class="">
    <div class="radio-group">
      <el-radio v-model="mode" label="4+2">4+2</el-radio>
      <el-radio v-model="mode" label="2+2+2">2+2+2</el-radio>
    </div>
    <div class="cascader-group" v-show="mode == '4+2'">
      <div class="cascader">
        <span>四件套</span>
        <el-cascader
          v-model="combo1['4']"
          :props="{ expandTrigger: 'hover', checkStrictly: false, emitPath: false }"
          size="small"
          :options="yuhunTree"
          placeholder="请选择"
          clearable
          :show-all-levels="false"
        ></el-cascader>
      </div>
      <div class="cascader">
        <span>二件套</span>
        <el-cascader
          v-model="combo1['2']"
          :props="{ expandTrigger: 'hover', checkStrictly: true, emitPath: false }"
          size="small"
          :options="yuhunTree"
          placeholder="请选择"
          clearable
          :show-all-levels="false"
        ></el-cascader>
      </div>
    </div>
    <div class="cascader-group" v-show="mode == '2+2+2'">
      <div class="cascader">
        <span>二件套</span>
        <el-cascader
          v-model="combo2.a"
          :props="{ expandTrigger: 'hover', checkStrictly: true, emitPath: false }"
          size="small"
          :options="yuhunTree"
          placeholder="请选择"
          clearable
          :show-all-levels="false"
        ></el-cascader>
      </div>
      <div class="cascader">
        <span>二件套</span>
        <el-cascader
          v-model="combo2.b"
          :props="{ expandTrigger: 'hover', checkStrictly: true, emitPath: false }"
          size="small"
          :options="yuhunTree"
          placeholder="请选择"
          clearable
          :show-all-levels="false"
        ></el-cascader>
      </div>
      <div class="cascader">
        <span>二件套</span>
        <el-cascader
          v-model="combo2.c"
          :props="{ expandTrigger: 'hover', checkStrictly: true, emitPath: false }"
          size="small"
          :options="yuhunTree"
          placeholder="请选择"
          clearable
          :show-all-levels="false"
        ></el-cascader>
      </div>
    </div>
  </div>
</template>

<script>
import { yuhunTree } from '@/data/dataFormat';

import { mapState } from 'vuex';

export default {
  data() {
    return {
      yuhunTree,
      combo1: {
        '4': null,
        '2': null,
      },
      combo2: {
        a: null,
        b: null,
        c: null,
      },
    };
  },
  computed: {
    ...mapState(['calcObj']),
    mode: {
      get() {
        return this.calcObj.mode;
      },
      set(newVal) {
        this.$store.commit('updateCalcObj', {
          key: 'mode',
          value: newVal,
        });
        this.$store.commit('updateCalcObj', {
          key: 'plan',
          value: newVal == '4+2' ? this.combo1 : this.combo2,
        });
      },
    },
  },
  watch: {
    combo1: {
      deep: true,
      handler(value) {
        this.$store.commit('updateCalcObj', {
          key: 'plan',
          value,
        });
      },
    },
    combo2: {
      deep: true,
      handler(value) {
        this.$store.commit('updateCalcObj', {
          key: 'plan',
          value,
        });
      },
    },
  },
};
</script>

<style lang="less" scoped>
.radio-group {
  margin-bottom: 20px;
}
.cascader-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .cascader {
    justify-content: flex-start;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      margin-right: 6%;
    }
  }
}
</style>
