<template>
  <div class="">
    <div class="checkbox-group">
      <span>贰号位</span>
      <el-checkbox-group v-model="l2_prop_limit" size="small">
        <el-checkbox-button :label="item.value" v-for="(item, index) in mapProp[0]" :key="index">
          {{ item.label }}
        </el-checkbox-button>
      </el-checkbox-group>
    </div>
    <div class="checkbox-group">
      <span>肆号位</span>
      <el-checkbox-group v-model="l4_prop_limit" size="small">
        <el-checkbox-button :label="item.value" v-for="(item, index) in mapProp[1]" :key="index">
          {{ item.label }}
        </el-checkbox-button>
      </el-checkbox-group>
    </div>
    <div class="checkbox-group">
      <span>陆号位</span>
      <el-checkbox-group v-model="l6_prop_limit" size="small">
        <el-checkbox-button :label="item.value" v-for="(item, index) in mapProp[2]" :key="index">
          {{ item.label }}
        </el-checkbox-button>
      </el-checkbox-group>
    </div>
  </div>
</template>

<script>
import { mapProp } from '@/data/dataFormat';

import { mapState } from 'vuex';

export default {
  data() {
    return {
      mapProp,
    };
  },
  computed: {
    ...mapState(['calcObj']),
    l2_prop_limit: {
      get() {
        return this.calcObj.l2_prop_limit;
      },
      set(newVal) {
        this.$store.commit('updateCalcObj', {
          key: 'l2_prop_limit',
          value: newVal,
        });
      },
    },
    l4_prop_limit: {
      get() {
        return this.calcObj.l4_prop_limit;
      },
      set(newVal) {
        this.$store.commit('updateCalcObj', {
          key: 'l4_prop_limit',
          value: newVal,
        });
      },
    },
    l6_prop_limit: {
      get() {
        return this.calcObj.l6_prop_limit;
      },
      set(newVal) {
        this.$store.commit('updateCalcObj', {
          key: 'l6_prop_limit',
          value: newVal,
        });
      },
    },
  },
};
</script>

<style lang="less" scoped>
.checkbox-group {
  margin: 20px 0;
  display: flex;
  align-items: center;
  span {
    display: block;
    margin-right: 6%;
  }
}
</style>
