<template>
  <div class="">
    <div class="checkbox-group">
      <el-checkbox v-model="manbao">满暴</el-checkbox>
      <el-checkbox v-model="chaoxing">超星</el-checkbox>
      <el-checkbox v-model="chixing">吃星</el-checkbox>
    </div>
    <div class="porp-limit" v-for="(item, index) in propLimit" :key="index">
      <el-input-number size="mini" placeholder="下限" v-model="item.minMax[0]"></el-input-number>
      <span>{{ item.chinaName }}</span>
      <el-input-number size="mini" placeholder="上限" v-model="item.minMax[1]"></el-input-number>
    </div>
  </div>
</template>

<script>
import store from '@/store';

export default {
  data() {
    return {
      manbao: false,
      chaoxing: false,
      chixing: false,
      propLimit: [
        { name: 'Speed', chinaName: '速度', minMax: [undefined, undefined] },
        { name: 'CritRate', chinaName: '暴击', minMax: [undefined, undefined] },
        { name: 'CritPower', chinaName: '暴击伤害', minMax: [undefined, undefined] },
        { name: 'Attack', chinaName: '攻击', minMax: [undefined, undefined] },
        { name: 'HpRate', chinaName: '生命加成', minMax: [undefined, undefined] },
        { name: 'Defense', chinaName: '防御', minMax: [undefined, undefined] },
        { name: 'EffectHitRate', chinaName: '效果命中', minMax: [undefined, undefined] },
        { name: 'EffectResistRate', chinaName: '效果抵抗', minMax: [undefined, undefined] },
      ],
    };
  },
  watch: {
    manbao(val) {
      this.propLimit[1].minMax[0] = val ? 100 : undefined;
    },
    chixing(val) {
      this.propLimit[0].minMax[1] = val ? 128 : undefined;
      if (val) {
        this.chaoxing = false;
      }
    },
    chaoxing(val) {
      this.propLimit[0].minMax[0] = val ? 128 : undefined;
      if (val) {
        this.chixing = false;
      }
    },
    propLimit: {
      handler(newObj) {
        let limit = {};
        newObj.map(item => {
          if (item.minMax[0] != undefined || item.minMax[1] != undefined) {
            if (['CritRate', 'CritPower', 'AttackRate'].includes(item.name)) {
              limit[item.name] = {
                min: Number(item.minMax[0]) / 100 || 0,
                max: Number(item.minMax[1]) / 100 || Infinity,
              };
            } else {
              limit[item.name] = {
                min: Number(item.minMax[0]) || 0,
                max: Number(item.minMax[1]) || Infinity,
              };
            }
          }
        });
        console.log('limit :>> ', limit);
        store.commit('updateCalcObj', {
          key: 'limit_props',
          value: limit,
        });
      },
      // immediate: true,
      deep: true,
    },
  },
  methods: {},
};
</script>

<style lang="less" scoped>
.checkbox-group {
  margin: 20px 0;
  display: flex;
  align-items: center;
  span {
    display: block;
    margin-right: 6%;
  }
}

.porp-limit {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}
</style>
