<template>
  <div class="filter-box">
    <div class="loc-group">
      <div
        class="loc-item"
        :class="{ selected: selected == index + 1 }"
        v-for="(item, index) in locList"
        :key="index"
        @click="switchLoc(index + 1)"
      >
        {{ item }}
      </div>
    </div>
    <p>{{ locList[selected - 1] }}号位</p>
    <div>
      <el-table
        :data="tableData"
        style="width: 100%"
        :default-sort="{ prop: 'date', order: 'descending' }"
      >
        <el-table-column prop="suit_id" label="suit_id" sortable width="180"> </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
export default {
  props: ['yuhunByLoc'],
  data() {
    return {
      locList: ['壹', '贰', '叁', '肆', '伍', '陆'],
      selected: 1,
      showItem: {},
      active: true,
    };
  },
  computed: {
    tableData() {
      let data = this.yuhunByLoc[this.selected];
      console.log('data :>> ', data);
      return data;
    },
  },
  methods: {
    switchLoc(loc) {
      this.selected = loc;
    },
  },
};
</script>

<style lang="less" scoped>
.filter-box {
  .loc-group {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid #f3f3f3;
    .selected.loc-item {
      color: #e74e4b;
      &:before {
        background: #fef3f3;
      }
    }
    .loc-item {
      display: inline-block;
      width: 12%;
      text-align: center;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        width: 1.6rem;
        height: 1.6rem;
        margin: -0.8rem 0 0 -0.8rem;
        border-radius: 100%;
        border-top-left-radius: 0;
        background: #f3f3f3;
        transform-origin: center;
      }
      &:nth-child(2)::before {
        transform: rotate(-45deg);
      }
      &:nth-child(3)::before {
        transform: rotate(-90deg);
      }
      &:nth-child(4)::before {
        transform: rotate(180deg);
      }
      &:nth-child(5)::before {
        transform: rotate(135deg);
      }
      &:nth-child(6)::before {
        transform: rotate(90deg);
      }
    }
  }
}

.tips {
  text-align: center;
  color: #aaa;
  font-size: 12px;
  padding-bottom: 10px;
}

.popup {
  background-color: rgb(214, 201, 185);
  box-shadow: inset 0 0 0 1px #3a200d, inset 0 0 0 2px #aa8559, inset 0 0 2px 3px #261a0d;
  .yuhun-detail {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 16px 18px;
    font-size: 14px;
    header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      img {
        margin-right: 12px;
        width: 38px;
      }
      .star {
        width: 50px;
        height: 10px;
        i {
          display: inline-block;
          width: 4px;
          height: 4px;
          background-size: 100% 100%;
          background-image: url('~@/assets/img/asset/star.png');
        }
      }
    }
    ul {
      border-bottom: 1px solid #a68d70;
      margin-bottom: 10px;
      li {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        &:first-child {
          color: #d96932;
        }
        &:last-child {
          margin-bottom: 12px;
        }
      }
    }
    .desc {
      text-indent: 0.2rem;
      font-size: 0.6rem;
      color: #777;
    }
  }
}
</style>
