<template>
  <div class="calc">
    <el-row>
      <el-col :span="24">
        <pick-com></pick-com>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import PickCom from '@/components/YuhunView/PickCom';

export default {
  components: {
    PickCom,
  },
  data() {
    return {};
  },
};
</script>

<style></style>
