<template>
  <div class="">
    <el-row>
      <el-col :span="12">
        <el-divider>选择式神</el-divider>
        <el-cascader-panel :options="HeroTree" v-model="shishen"></el-cascader-panel>
        <div class="pick-pane">
          <ul>
            <li v-for="(value, key, index) in calcObj.shishen_pane" :key="index">
              {{ key }}：{{ value | paneFilter(key) }}
            </li>
          </ul>
        </div>
        <el-divider>位置指定</el-divider>
        <LocLimitCom></LocLimitCom>
        <el-divider>御魂套装</el-divider>
        <ComboCom></ComboCom>
        <el-divider>计算指标</el-divider>
        <div class="radio-group">
          <el-select v-model="optimize_pane" size="small">
            <el-option
              :label="item.name"
              :value="item.name"
              v-for="(item, index) in radioList"
              :key="index"
            ></el-option>
          </el-select>
        </div>
        <el-divider>面板限制</el-divider>
        <PropLimitCom></PropLimitCom>
      </el-col>
      <el-col :span="10" :offset="2">
        <el-divider>总览</el-divider>
        <CardCom></CardCom>
      </el-col>
    </el-row>
  </div>
</template>

<script>
// import _ from 'lodash';

import { HeroTree } from '@/data/dataFormat';

import { optimizePaneList } from '@/data/dataFormat';
import { HeroPane } from '@/data/heroData';
import { paneFilter } from '@/filters/index';

import LocLimitCom from '@/components/YuhunView/Pick/LocLimitCom';
import ComboCom from '@/components/YuhunView/Pick/ComboCom';
import CardCom from '@/components/YuhunView/Pick/CardCom';
import PropLimitCom from '@/components/YuhunView/Pick/PropLimitCom';

import { mapState } from 'vuex';

export default {
  components: {
    LocLimitCom,
    ComboCom,
    CardCom,
    PropLimitCom,
  },
  filters: {
    paneFilter,
  },
  data() {
    return {
      HeroTree,
      radioList: optimizePaneList,
    };
  },
  mounted() {},
  computed: {
    ...mapState(['calcObj']),
    shishen: {
      get() {
        return this.calcObj.shishen;
      },
      set(newVal) {
        this.$store.commit('updateCalcObj', {
          key: 'shishen',
          value: newVal,
        });
        this.$store.commit('updateCalcObj', {
          key: 'shishen_pane',
          value: HeroPane[newVal[1]],
        });
      },
    },
    optimize_pane: {
      get() {
        return this.calcObj.optimize_pane;
      },
      set(newVal) {
        this.$store.commit('updateCalcObj', {
          key: 'optimize_pane',
          value: newVal,
        });
      },
    },
  },
};
</script>

<style lang="less" scoped>
.pick-pane {
  padding: 14px 0;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: 33%;
      font-size: 14px;
      margin: 2px 8%;
    }
  }
}
</style>
