<template>
  <div>
    <el-table
      :data="tableData"
      border
      stripe
      height="750"
      :default-sort="{ prop: '', order: 'descending' }"
      @sort-change="handleSortChange"
    >
      <el-table-column
        :prop="item"
        :label="item"
        sortable="custom"
        v-for="(item, index) in field"
        :key="index"
      >
      </el-table-column>
    </el-table>
    <div class="pagination">
      <el-pagination
        layout="prev, pager, next"
        :page-size="100"
        :total="yuhunList.length"
        @current-change="handleCurrentChange"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import yuhunMap from '@/data/yuhunMap';

export default {
  props: ['yuhunList'],
  mounted() {
    console.log('yuhun :>> ', this.yuhunList[0]);
  },
  data() {
    return {
      currentPage: 1,
      orderBy: '',
      order: 'descending',
      field: [
        '编号',
        '御魂类型',
        '主属性 | 固定属性',
        '主属加成',
        '等级',
        '位置',
        '攻击加成',
        '暴击',
        '暴击伤害',
        '速度',
        '效果命中',
        '效果抵抗',
        '生命加成',
        '防御加成',
        '攻击',
        '生命',
        '防御',
      ],
    };
  },
  computed: {
    tableData() {
      let data = [];
      let yuhunList = this.yuhunList;
      for (let i = 0; i < yuhunList.length; i++) {
        const element = yuhunList[i];
        data.push({
          编号: i + 1,
          '主属性 | 固定属性': this.getMainName(element),
          主属加成: element.base_attr.value.toFixed(2),
          等级: element.level,
          位置: element.pos + 1,
          御魂类型: this.getYuhunName(element.suit_id),
          暴击: this.getAttrValue(element, 'CritRate'),
          暴击伤害: this.getAttrValue(element, 'CritPower'),
          攻击加成: this.getAttrValue(element, 'AttackRate'),
          防御加成: this.getAttrValue(element, 'DefenseRate'),
          生命加成: this.getAttrValue(element, 'HpRate'),
          效果命中: this.getAttrValue(element, 'EffectHitRate'),
          效果抵抗: this.getAttrValue(element, 'EffectResistRate'),
          速度: this.getAttrValue(element, 'Speed'),
          攻击: this.getAttrValue(element, 'Attack'),
          防御: this.getAttrValue(element, 'Defense'),
          生命: this.getAttrValue(element, 'Hp'),
        });
      }
      data = data.sort((a, b) => {
        if (this.order === 'descending') {
          return b[this.orderBy] - a[this.orderBy];
        } else {
          return a[this.orderBy] - b[this.orderBy];
        }
      });
      data = data.slice((this.currentPage - 1) * 100, this.currentPage * 100);
      return data;
    },
  },
  methods: {
    getYuhunName(suit_id) {
      return yuhunMap.filter(item => {
        return item.id === suit_id;
      })[0].name;
    },
    getMainName(element) {
      let name = this.getChineseName(element.base_attr.type);
      if (element?.single_attrs[0]?.type) {
        name += ' | ' + this.getChineseName(element.single_attrs[0].type);
      }
      return name;
    },
    getChineseName(attrName) {
      let name = attrName;
      switch (attrName) {
        case 'CritRate':
          name = '暴击';
          break;
        case 'CritPower':
          name = '暴击伤害';
          break;
        case 'EffectHitRate':
          name = '效果命中';
          break;
        case 'EffectResistRate':
          name = '效果抵抗';
          break;
        case 'AttackRate':
          name = '攻击加成';
          break;
        case 'HpRate':
          name = '生命加成';
          break;
        case 'DefenseRate':
          name = '防御加成';
          break;
        case 'Speed':
          name = '速度';
          break;
        case 'Attack':
          name = '攻击';
          break;
        case 'Defense':
          name = '防御';
          break;
        case 'Hp':
          name = '生命';
          break;
        default:
          break;
      }
      return name;
    },
    getAttrValue(element, attrName) {
      let value =
        element.attrs.filter(item => {
          return item.type === attrName;
        })[0]?.value || 0;
      const rateList = [
        'CritRate',
        'CritPower',
        'AttackRate',
        'DefenseRate',
        'HpRate',
        'EffectHitRate',
        'EffectResistRate',
      ];
      let res = 0;
      if (value > 0 && rateList.includes(attrName)) {
        res = +(value * 100).toFixed(2);
      } else if (value > 0) {
        res = +value.toFixed(2);
      }
      return res;
    },
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    handleSortChange(val) {
      this.orderBy = val.prop;
      this.order = val.order;
    },
  },
};
</script>

<style lang="less" scoped>
.pagination {
  margin: 2% 30% 0;
}
</style>
