<template>
  <div class="asset-com">
    <h4>玩家信息</h4>
    <ul>
      <li>昵称：{{ player.name }}</li>
      <li>服务器：{{ getServerName(player.server_id) }}</li>
      <li>等级：{{ player.level }}</li>
      <li>编号：{{ player.id }}</li>
      <br />
      <li>版本：{{ player.version }}</li>
      <li>导出日期：{{ player.timestamp.slice(0, 10) }}</li>
    </ul>
    <h4>资源</h4>
    <div class="asset-list">
      <div class="asset-item" v-for="(item, index) in assetsList" :key="index">
        <div class="desc">
          <img :src="item.icon" alt="" />
          <span>{{ item.text }}</span>
        </div>
        <span>{{ getAssetItem(item.name) }}</span>
      </div>
    </div>
    <h4>御魂</h4>
    <ul>
      <li>御魂总数 {{ heroEquips.length }}</li>
      <li>+15御魂总数 {{ heroEquips15.length }}</li>
    </ul>
    <h4>式神</h4>
    <ul>
      <li>式神总数 {{ heroesObj.heroes.length }}</li>
      <li>SP/SSR {{ heroesObj.heroesSSRSP.length }}</li>
      <li>六星式神 {{ heroesObj.heroes6.length }}</li>
      <li>五星狗粮 {{ heroesObj.heroes5N.length }}</li>
      <li>黑蛋 {{ heroesObj.heroesBlack.length }}</li>
      <li>黑蛋碎片 {{ heroesObj.heroesBlackChip }}/25</li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import { assetsList } from '@/data/asset';
import { serverList } from '@/data/server';

export default {
  data() {
    return {
      assetsList,
    };
  },
  mounted() {
    console.log('this.yyx.data.currency :', this.yyx.data.currency);
    console.log(this.heroEquips.filter(item => item));
  },
  computed: {
    ...mapState(['yyx']),
    asset() {
      return this.yyx.data.currency;
    },
    heroEquips() {
      return this.yyx.data.hero_equips;
    },
    heroEquips15() {
      return this.heroEquips.filter(item => item.level === 15);
    },
    heroesObj() {
      const heroes = this.yyx.data.heroes;
      let heroesObj = {
        heroes,
        heroes6: heroes.filter(item => item.star === 6),
        heroes5N: heroes.filter(item => item.rarity === 'N' && item.star === 5),
        heroesBlack: heroes.filter(item => item.hero_id === 411),
        heroesSSRSP: heroes.filter(item => ['SSR', 'SP'].includes(item.rarity)),
        heroesBlackChip: this.yyx.data.hero_book_shards.filter(item => item.hero_id === 411)[0]
          ?.shards,
      };
      return heroesObj;
    },
    player() {
      return {
        ...this.yyx.data.player,
        timestamp: this.yyx.timestamp,
        version: this.yyx.version,
      };
    },
  },
  methods: {
    getAssetItem(name) {
      return this.asset[name] || '0';
    },
    getServerName(serverId) {
      const server = serverList.filter(item => item.id === +serverId);
      return server[0]?.name || '';
    },
  },
};
</script>

<style lang="less" scoped>
.asset-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
  .asset-item {
    background-color: #eee;
    margin: 6px 10px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 4px 10px 4px 8px;
    color: #1e1e1e;
    font-size: 0.8rem;
    .desc {
      display: flex;
      align-items: center;
      span {
        margin-left: 6px;
      }
      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}

.asset-com {
  ul {
    display: flex;
    li {
      margin-left: 40px;
    }
  }
}
</style>
