<template>
  <div class="home">
    <!-- <el-header>YuHunShow</el-header> -->
    <el-row>
      <menu-com :activeIndex="activeIndex" @changeActiveIndex="changeActiveIndex"></menu-com>
      <br />
      <el-col :span="20" :offset="2">
        <load-json-com v-show="activeIndex == '1'"></load-json-com>
        <yu-hun-table :yuhunList="yuhunList" v-show="activeIndex == '2'"></yu-hun-table>
        <calc-com v-show="activeIndex == '3'"></calc-com>
        <asset-com v-show="activeIndex == '4'"></asset-com>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import LoadJsonCom from '@/components/LoadJsonCom';
import YuHunTable from '@/components/YuhunView/YuHunTable';
import CalcCom from '@/components/YuhunView/CalcCom';
import MenuCom from '@/components/MenuCom';
import AssetCom from '@/components/Me/AssetCom';

import { mapState } from 'vuex';

export default {
  name: 'Home',
  components: {
    LoadJsonCom,
    YuHunTable,
    CalcCom,
    MenuCom,
    AssetCom,
  },
  data() {
    return {
      activeIndex: '3',
    };
  },
  computed: {
    ...mapState(['username', 'yyx']),
    yuhunList() {
      return this.yyx?.data?.hero_equips || [];
    },
    yuhunByLoc() {
      let yuhunByLoc = { 1: [], 2: [], 3: [], 4: [], 5: [], 6: [] };
      for (let yuhun of this.yuhunList) {
        yuhunByLoc[yuhun.pos + 1].push(yuhun);
      }
      return yuhunByLoc;
    },
  },
  mounted() {
    console.log('current user :', this.username);
  },
  methods: {
    changeActiveIndex(key) {
      this.activeIndex = key;
    },
  },
};
</script>

<style lang="less" scoped></style>
