<template>
  <el-upload
    class="upload-demo"
    action=""
    multiple
    :limit="1"
    accept=".json"
    :on-change="handleChangeFile"
    :file-list="fileList"
    :auto-upload="false"
  >
    <el-button size="small" type="primary">点击上传</el-button>
    <div slot="tip" class="el-upload__tip">只能上传yyx导出的Json文件，且不超过10M</div>
  </el-upload>
</template>

<script>
// import _ from 'lodash';
import { mapMutations } from 'vuex';

export default {
  data() {
    return {
      fileList: [],
    };
  },
  methods: {
    ...mapMutations(['updateYYX']),
    handleChangeFile(file) {
      const reader = new FileReader();
      reader.readAsText(file.raw);
      reader.onload = () => {
        let yyx = JSON.parse(reader.result);
        console.log('result :', yyx);
        localStorage.setItem('yyx', JSON.stringify(yyx));
        this.$store.commit('updateYYX', yyx);
      };
    },
  },
};
</script>

<style lang="less" scoped></style>
