<template>
  <el-menu
    :default-active="activeIndex"
    @select="handleSelect"
    class="el-menu-vertical-demo"
    :collapse="isCollapse"
    mode="horizontal"
  >
    <el-menu-item index="1">
      <i class="el-icon-menu"></i>
      <span slot="title">上传数据</span>
    </el-menu-item>
    <el-menu-item index="2">
      <i class="el-icon-menu"></i>
      <span slot="title">御魂列表</span>
    </el-menu-item>
    <el-menu-item index="3">
      <i class="el-icon-document"></i>
      <span slot="title">计算方案</span>
    </el-menu-item>
    <el-menu-item index="4">
      <i class="el-icon-setting"></i>
      <span slot="title">个人中心</span>
    </el-menu-item>
  </el-menu>
</template>

<script>
export default {
  props: ['activeIndex'],
  data() {
    return {
      isCollapse: false, // 隐藏菜单文本
    };
  },
  methods: {
    handleSelect(key) {
      this.$emit('changeActiveIndex', key);
    },
  },
};
</script>

<style></style>
